<head>
	<!-- social media thumbnail -->
	<meta name="image" property="og:image" content="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/117949548_3708193365868490_5621718221914138833_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=P9B-OD5MuuEAX_lygSc&_nc_ht=scontent-iad3-1.xx&oh=1804d53f2d716b32b3ec82701ae35640&oe=5F5C4C70">
	<meta name="description" content="Hey, I'm Loryn. A Product Designer focused on visual and interaction design. I also regularly create tech and design content for the community." />
	<meta name="author" content="Loryn Chen">
	<link rel="image_src" href="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/117949548_3708193365868490_5621718221914138833_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=P9B-OD5MuuEAX_lygSc&_nc_ht=scontent-iad3-1.xx&oh=1804d53f2d716b32b3ec82701ae35640&oe=5F5C4C70" />

	<!-- Title -->
	<title>
		{% if page.title == "Home" %}
			{{ site.title }}
		{% else %}
			{{ page.title }} | Loryn Chen
		{% endif %}
	</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>

	<!-- Spectre Framework -->
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

	<!-- Animate on Scroll Library CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon-16x16.png">
	<link rel="manifest" href="../assets/images/site.webmanifest">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,700&display=swap" rel="stylesheet">

	<!-- My CSS File -->
	<link rel="stylesheet" href="../assets/css/style.css" type="text/css" />

	<!-- Open Graph data thumbnail -->
	<meta property="og:title" content="Loryn Chen | Portfolio" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://lorynchen.com" />
	<meta property="og:image" content="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/117949548_3708193365868490_5621718221914138833_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=P9B-OD5MuuEAX_lygSc&_nc_ht=scontent-iad3-1.xx&oh=1804d53f2d716b32b3ec82701ae35640&oe=5F5C4C70" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:width" content="630" />
	<meta property="og:description" content="Hey, I'm Loryn. A Product Designer focused on visual and interaction design." />
	<meta property="og:site_name" content="Loryn's Product Design Portfolio" />
	<meta property="og:locale" content="en_US" />

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@LoloLoryn">
	<meta name="twitter:title" content="Loryn Chen | Portfolio">
	<meta name="twitter:description" content="Hey, I'm Loryn. A Product Designer focused on visual and interaction design.">
	<meta name="twitter:image" content="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/117949548_3708193365868490_5621718221914138833_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=P9B-OD5MuuEAX_lygSc&_nc_ht=scontent-iad3-1.xx&oh=1804d53f2d716b32b3ec82701ae35640&oe=5F5C4C70">
</head>