<!-- GOOGLE ANALYTICS START -->

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-72825613-1', 'auto');
	ga('send', 'pageview');
</script>

<!-- GOOGLE ANALYTICS END -->

<!-- NAVBAR START -->

<div class="container grid-lg">
	
	<!-- Medium+ -->
	<header class="navbar hide-sm">
		<section class="navbar-section">
			<a href="https://lorynchen.com" class="navbar-brand mr-2" title="Hi">Loryn Chen</a>
		</section>
		<section class="navbar-section">
			<a href="https://lorynchen.com" class="btn" title="You're on this page!">Work</a>
			<a href="../about.html" class="btn" title="Learn more about me">About</a>
			<a href="../assets/images/loryn-resume.pdf" class="btn" target="_blank" title="Look! I'm professional">Resume <i class="far fa-external-link-square"></i></a>
		</section>
	</header>
	
	<!-- SMALL- -->
	<header class="header show-sm">
		<a href="https://lorynchen.com" class="logo">Loryn Chen</a>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		<ul class="menu">
			<li><a href="https://lorynchen.com">Work</a></li>
			<li><a href="../about.html">About</a></li>
			<li><a href="../assets/images/loryn-resume.pdf" target="_blank">Resume <i class="far fa-external-link-square"></i></a></li>
		</ul>
	</header>
</div>

<!-- NAVBAR END -->