<!-- FOOTER START -->

<footer>
	<div class="container grid-lg">
		<p>
			<a href="https://twitter.com/LoloLoryn" target="_blank" title="Tweet at me!">Twitter</a> &#9702; <a href="https://dribbble.com/lorynchen" target="_blank" title="Like one of my shots!">Dribbble</a> &#9702; <a href="https://medium.com/@lorynchen" target="_blank" title="Read one of my articles!">Medium</a> &#9702; <a href="https://www.linkedin.com/in/lorynchen/" target="_blank" title="Let's connect!">LinkedIn</a> &#9702; <a href="https://www.youtube.com/lorynchen" target="_blank" title="Watch my design videos!">YouTube</a>
		</p>
		<br>
		<p class="gray-text hide-sm">&copy; 2020 Loryn Chen - Built with &hearts; by yours truly</p>
		<div class="show-sm">
			<p class="gray-text">Built with &hearts; by yours truly</p>
			<p class="gray-text">&copy; 2020 Loryn Chen</p>
		</div>
	</div>
</footer>

<!-- FOOTER END -->